[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "kpvcrlib/crengine"]
	path = thirdparty/kpvcrlib/crengine
	url = https://github.com/koreader/crengine.git
