*.gz
*.swp
*.swo
cscope.*
libs-emu
*.orig
lua
crash.log
.vimrc
git-rev
slider_watcher
*.o
tags
*.sdr

/.cproject
/.project

toolchain
fonts
/data
history
screenshots
cr3cache
extr
build

kpvcrlib/build
thirdparty/*/build
